{% extends 'base.html' %} <br />
{% block title %}Brand List{% endblock %} <br />
{% block css %}
<style>
  
</style>
{% endblock %} <br />
{% block content %}
<div class="pt-3">
  <div class="container">
   
{% include 'navbar.html' %}

    <!-- inventory start here -->
    <div class="box">
      <div class="head p-3">
        <div class="d-flex justify-content-between">
          <div class="customer-list"><h2>Brand List</h2></div>
          <div class="add-new-customer">
            <button href=""  data-bs-toggle="modal" data-bs-target="#exampleModal2" class="btn btn-primary p-2"><i class="fa-solid fa-square-plus p-2"></i>&nbsp;&nbsp; New Brand</button>
          </div>
          
        </div>
      </div>
      <div class="container pt-4 bg-white pb-3">
        <div class="d-flex mb-3 justify-content-end align-content-center">
          <div class="col-3">
            <form action="{% url 'brand' %}">
          <div class="input-group mb-3">
            <input type="text" name="search" class="form-control" placeholder="Search"  aria-describedby="basic-addon2">
            <button type="submit" class="input-group-text" id="basic-addon2">Search</butt>
          </div>
        </form>
        </div>

          
        </div>
        <!-- messages here -->
        {% if messages %}
        {% for x in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{x}}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        <!-- messages end here -->
        
          <table class="table table-bordered table-striped">
            
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Category</th>
                <th scope="col">Brand Name</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for x in brands %}
              <tr>
                <th scope="row">{{x.id}}</th>
                <td>{{x.category_id.category_name}}</td>
                <td>{{x.brand_name}}</td>
                <td>Active</td>
               
                <td class="text-center g-1">
                  <button type="button"
                    onclick="edit('{{x.id}}','{{x.category_id}}','{{x.brand_name}}')"
                  class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <i class="fa-solid fa-pen-to-square"></i>
                  </button>
                  <a href="{% url 'brand_delete' x.id %}" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>

                </td>
              </tr>
              {% endfor %}
              
             
              
              
             
              
              
            </tbody>
          </table>
          <div class="d-flex justify-content-between pt-3">
            <div class="ml-3">showing of 10</div>
            <div class="mr-3">
              <nav aria-label="...">
                <ul class="pagination">
                  {% if brands.has_previous %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ brands.previous_page_number }}">Previous</a>
                    </li>
                  {% else %}
                    <li class="page-item disabled">
                      <a class="page-link">Previous</a>
                    </li>
                  {% endif %}
                
                  {% for x in brands.paginator.page_range %}
                    {% if brands.number == x %}
                      <li class="page-item active"><a class="page-link" href="?page={{ x }}">{{ x }}</a></li>
                    {% else %}
                      <li class="page-item" aria-current="page">
                        <a class="page-link" href="?page={{ x }}">{{ x }}</a>
                      </li>
                    {% endif %}
                  {% endfor %}
              
                  {% if brands.has_next %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ brands.next_page_number }}">Next</a>
                    </li>
                  {% else %}
                    <li class="page-item disabled">
                      <a class="page-link" href="">Next</a>
                    </li>
                  {% endif %}
                </ul>
              </nav>
              
            </div>
          </div>
        </div>
      </div>
      <!-- inventory end here -->
    </div>
  </div>

<!-- for table -->
<!-- Modal 1 -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="{% url 'update_brand' %}" method="post">
        {% csrf_token %}
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"><i class="fa-solid fa-pen-to-square"></i> Edit Brand</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <div class="mb-3">
          <label for="" class="form-label">Category</label>
          <select
            class="form-select form-select-lg"
            name="category_name"
            type="number"
            id="category_name"
          >
          {% for category in categories %}
            <option value="{{category.id}}">{{category.category_name}}</option>
            {% endfor %}
          </select>
        </div>
        
        <div class="mb-3">
          <label for="" class="form-label">Enter Brand Name</label>
          <input type="text" id="brand_name" name="brand_name" class="form-control">
          <input type="hidden" name="bid" id="bid">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Edit</button>
      </div>
    </form>
    </div>
  </div>
</div>

<!-- modal 2 -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel2"><i class="fa-solid fa-plus"></i> Add Brand</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'brand' %}" method="post">
          {% csrf_token %}
        <div class="mb-3">
          <label for="" class="form-label">Category</label>
          <select
            class="form-select form-select-lg"
            name="category_name"
            type="number"
            id=""
          >
          {% for category in categories %}
            <option value="{{category.id}}">{{category.category_name}}</option>
            {% endfor %}
          </select>
        </div>
        
        <div class="mb-3">
          <label for="" class="form-label">Enter Brand Name</label>
          <input type="text" name="brand_name" class="form-control">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">ADD</button>
      </div>
    </form>
    </div>
  </div>
</div>





<script>


  
  function edit(bid,cid,bname){
    var id = document.getElementById('bid')
    var category_name = document.getElementById('category_name')
    var brand_name = document.getElementById('brand_name')
    id.value = bid
    category_name.value = cid
    brand_name.value = bname
    
    

  }






</script>

  {% endblock %}
</div>



